.body {
    font-family: 'Titillium Web', sans-serif;
}
.container {
    width: 1000px;
    margin: 0 auto;
}
.header {
    height: 600px;
    background: url("./../img/bg.jpg");
    background-size: cover;
}
.header .logo {
    background: white;
}
.heaader .menu ul {
    display: flex;
}
.header .menu {
    background-color: rgba(19, 19, 194, 0.5);
    padding: 20px;
}
.header .menu ul {
    display: flex;
}
.header .menu ul li {
    color:white;
    font-weight: bold;
    padding: 10px;

}
.header .promo {
    display: flex;
}
.header .promo .boxes .box {
    width: 100px;
    height: 100px;
    background: rgb(5, 28, 90);
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.header .promo .boxes .box:hover {
    color: rgb(0, 195, 255);
    width: 120px;
    height: 120px;
    transition: width 1s, height 1s;
}
.header .promo .boxes .line {
    display: flex
}
.header .promo .titles h2 {
    font-size: 24px;
    color:rgb(38, 0, 255);
    background: rgba(230, 236, 231, 0.5);
    padding: 10px;
    margin-top: 20px;
}
.header .promo .titles p {
    font-size: 16px;
    color:rgb(254, 255, 247);
}
.low-line {
    display: flex;
    justify-content: space-between;
    background:rgb(18, 173, 235)
}
.low-line .box {
    display: flex;
    align-items: center;
}
.low-line .box h2 {
    font-size: 34px;
    color:white;
}
.low-line .box h3 {
    padding: 20px;
    color:white;
}
.separator {
    align-items: center;
    align-content: center;
    text-align: center;
}
.separator p {
    text-align: center;
}