* {
 scroll-behavior: smooth;   
}

body {
    font-family: 'Titillium Web', sans-serif;
}

.container {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    background: url('../img/background.3.jpg');
    border-radius: 20px;
}

.header {
    height: 600px;
    background-size: cover;
}

.header img {
    width: 1000px;
    border-radius: 20px;
}

.menu {
    height: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
}


.header .menu {
    border-radius: 20px 20px 0 0;
    background-color: rgb(43, 43, 134, 0.4);
    padding: 20px;
}
.header .menu ul {
    display: flex;
    position: relative;
    top: -25px;
    left: -3px;
}
.header .menu ul a {
    color:rgba(22, 114, 253, 0.226);
    font-weight: bold;
    text-decoration: none;
    padding: 25px 10px;
}
.header .menu ul a li {
    list-style: none;
    width:auto;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s;
    border: 20px solid #224f99;
    border-radius: 30px;
    cursor:pointer;
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;
    background-color: #224f99;
    font-family: 'Stick No bills', sans-serif;
}
