body {
    background: blue;
    font-family:'Courier New', Courier, monospace;
    padding: 40px;
}
h1 {
    color: white;
    font-size: 24px;
    margin-bottom:40px;
}
form {
    background: #78909c;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 400px;
}
form input {
    padding: 6px 10px;
    margin-bottom: 20px;
}
form button {
    padding: 6px 10px;
    border: none;
    background:rgb(8, 255, 233);
    color: white;
    cursor: pointer;
}
form button:hover {
    background:rgb(44, 250, 106);
}